<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Mes Notes</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-item *ngFor="let note of list" routerDirection="root" [routerLink]="'/note/'+note.id" lines="none"
  detail="false" routerLinkActive="selected">
  <ion-label>{{ note.titre }}</ion-label>
  <ion-icon name="chevron-forward-outline"></ion-icon>
  <ion-icon aria-hidden="true" slot="end" [ios]="'chevron-forward-outline'"></ion-icon>
</ion-item>
</ion-content>
