<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Présentateurs</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-content [fullscreen]="true" id="sessionsList">
    <ion-item *ngFor="let spreaker of speakerList" routerDirection="root" [routerLink]="'/presentateurs/'+spreaker.id" lines="none"
      detail="false" routerLinkActive="selected">
      <ion-label>{{spreaker.name}}</ion-label>
      <ion-icon name="chevron-forward-outline"></ion-icon>
      <ion-icon aria-hidden="true" slot="end" [ios]="'chevron-forward-outline'"></ion-icon>
    </ion-item>
  </ion-content>
</ion-content>
